.layout-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #34495e;
    color: #ffffff;
    padding: 20px;
    width: 250px;
}

.user-detail-container {
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    padding: 20px;
    width: calc(100% - 250px);
    overflow-y: auto;
}

.user-content {
    display: flex;
    margin-top: 20px;
}

.user-photo-box {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

.user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-info-box {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-detail-container .MuiTypography-h4 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
}

.user-detail-container .MuiTypography-h5 {
    color: #16a085;
    font-size: 20px;
    margin-bottom: 10px;
}

.user-detail-container .MuiTypography-body1 {
    color: #34495e;
    margin-bottom: 10px;
    font-size: 16px;
}
@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .user-detail-container {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .user-content {
        flex-direction: column;
    }

    .user-photo-box {
        justify-content: flex-start;
        padding-right: 0;
    }

    .user-info-box {
        flex: none;
        margin-top: 20px;
    }
}

.deletebtn{ 
        /* display: flex; */
        align-items: center;
        background:#ffffff;
        border: 1px solid lighten(gray, 24%);
        height: 20px;
        padding: 0 16px 0 16px;
        letter-spacing: .25px;
        border-radius: 10px;
        cursor: pointer;
        color: red;
        margin-left: 25px;
        margin-bottom: 120px;
        margin-top: 15px;

    
  
}
      






