.user-list-container {
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    height: 100vh;
    overflow-y: auto;
}

.user-list-item {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    display: block;
    text-decoration: none;
    color: inherit;
}

.user-list-item:hover {
    background-color: #f0f0f0;
}

.greenphotos{
    background-color: green;
    color: white; /* Add text color */
    border: none; /* Remove border */
    border-radius: 50%; /* Make it circular */
    width: 40px;
    height: 40px;
    padding: 0; /* Remove padding */
    display: flex; /* Align content horizontally and vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 14px;
}

.gp{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(253, 149, 149);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding:10px
}