.user-list-container {
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    height: 100vh;
    overflow-y: auto;
}

.user-list-item {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    display: block;
    text-decoration: none;
    color: inherit;
}

.user-list-item:hover {
    background-color: #f0f0f0;
}